html{
    font-size: 20px;
}
body{
    margin: 0;
    font-family: 'Arimo', 'Courier', sans-serif;
}
.container{
    max-width: 1150px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #ffffff;
}
table{
    width: 100%;
    box-sizing: border-box;
    background-color: #fafafa;
    text-align: center;
    vertical-align: middle;
    border: 22px solid #3a4965;
    border-collapse: collapse;
}
.bandwidth, .support, .users{
    background-color: #e3e3e3;
}
td{
    border: 1px solid;
    border-color: #dadada;
    height: 69px;
    width: 25%;
}
/* Working with first row */
.pricingPlan{
    font-weight: 700;
    color: #ffffff;
}
.pricingPlan td:first-of-type{
    color: #484848;
    border: none;
}
.pricingPlan span{
    font-size: 0.69rem;
}
.pricingPlan td:nth-of-type(2){
    background-color: #89c331;
    font-size: 0.78rem;
    border:none;
}
.pricingPlan td:nth-of-type(2):hover{
    font-size: 1rem;
    transition: 0.5s;
}
.pricingPlan td:nth-of-type(3){
    background-color: #f04a56;
    font-size: 0.78rem;
    border:none;
}
.pricingPlan td:nth-of-type(3):hover{
    font-size: 1rem;
    transition: 0.5s;
}
.pricingPlan td:nth-of-type(4){
    background-color: #20807c;
    font-size: 0.78rem;
    border:none;
}
.pricingPlan td:nth-of-type(4):hover{
    font-size: 1rem;
    transition: 0.5s;
}
.price td{
    border-bottom: none;
}
.storage td{
    border-top: none;
}
/* Working with second row*/
.cost{
    justify-content: center;
    display: flex;
}
.dollar{
    font-size: 2.17rem;
    font-weight: 700;
}
.cent{
    font-size: 0.78rem;
    font-weight: 700;
    text-align: left;
    position: absolute;
    top: 5px;
}
.cost :last-child{
    text-align: left;
    position: relative;
}
.perMonth{
    font-size: 0.69rem;
    position: absolute;
    bottom: 2px;
}
.storage, .bandwidth, .email, .support, .products, .users{
    font-size: 0.68rem;
}

/* Adding icons to items*/
.storage td:first-of-type::before{
    content: url(..//img/storage.png);
    position:relative;
    bottom:-5px;
    left: -5px;
}
.bandwidth td:first-of-type::before{
    content: url(..//img/bandwidth.png);
    position:relative;
    bottom:-5px;
    left: -10px;
}
.email td:first-of-type::before{
    content: url(..//img/email1X.png);
    position:relative;
    bottom:-5px;
    left: -10px;
}
.support td:first-of-type::before{
    content: url(..//img/support.png);
    position:relative;
    bottom:-7px;
    left: -8px;
}
.products td:first-of-type::before{
    content: url(..//img/products.png);
    position:relative;
    bottom:-5px;
    left: -8px;
}
.users td:first-of-type::before{
    content: url(..//img/users.png);
    position:relative;
    bottom:-5px;
    left: -8px;
}
/*Working with buttons*/
.buttons td:nth-of-type(1){
    background-color: #dddddd;
}
.buttons{
    text-align: center;
    height: 110px;
}
.contact{
    display: inline-block;
    width: 70%;
    text-align: center;
    font-size: 0.69rem;
    background-color: #484848;
    border-bottom: 9px solid #404040;
    border-radius: 5px;
    padding-top: 17.5px;
    padding-bottom: 8.5px;
}
.contact:hover{
    background-color: #404040;
    transition: all 0.4s;
}
.buyStandard{
    display: inline-block;
    width: 70%;
    text-align: center;
    font-size: 0.69rem;
    background-color: #89c331;
    border-bottom: 9px solid #79b027;
    border-radius: 5px;
    padding-top: 17.5px;
    padding-bottom: 8.5px;
}
.buyStandard:hover{
    background-color: #79b027;
    transition: all 0.4s;
}
.buyUltimate{
    display: inline-block;
    width: 70%;
    text-align: center;
    font-size: 0.69rem;
    background-color: #f04a56;
    border-bottom: 9px solid #df3a46;
    border-radius: 5px;
    padding-top: 17.5px;
    padding-bottom: 8.5px;
}
.buyUltimate:hover{
    background-color: #df3a46;
    transition: all 0.4s;
}
.buyPremium{
    display: inline-block;
    width: 70%;
    text-align: center;
    font-size: 0.69rem;
    background-color: #20807c;
    border-bottom: 9px solid #16736f;
    border-radius: 5px;
    padding-top: 17.5px;
    padding-bottom: 8.5px;
}
.buyPremium:hover{
    background-color: #16736f;
    transition: all 0.4s;
}
