:root {
    font-size: 20px;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 1480px;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5rem;
    padding-right: 5rem;
}
.logo {
    display: block;
    margin-top: 3.05rem;
    margin-bottom: 2.25rem;
}
.navigation {
    font-size: 1rem;
    font-weight: 400;
    background-color: #35444f;
    
}
.menu {
    display: flex;
    list-style-type: none;
    width: 880px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}
.menuItem {
    display:block;
    width:25%;
    text-align: center;
}
.menuItem a {
    text-decoration: none;
    font-size: 1rem;
    color:white;
    padding: 1.022rem 0;
    width: 100%;
    display: inline-block;
    text-align: center;
    
}
.menuItem a:hover {
    background-color: #222f3a;
    border-left: #818181 solid 1px;
    border-right: #818181 solid 1px;
    transition: all 0.5s;
}
.main {
    margin-top: 51px;
    display: flex;
    justify-content: space-between;
}
.sidebar {
    width: 344px;
}
.sidebarMenu {
    outline: 1px solid #35444f;;
    outline-offset: -1px;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
    
}
.sidebarMenu a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.25rem;
    color: #495863;
    width: 344px;
    text-align: left;
    padding: 24px 0 24px 0;
    text-indent: 2.2rem;
}
.sidebarMenu a:hover {
    transition: all 0.5s;
    background-color: #dbdbdb;
    text-indent: 3.5rem;
    color:black;
}
.article {
    width: 885px;
}
.image {
    width: 885px;
    height:529px;
    outline: 1px solid #35444f;
    outline-offset: -1px;
    background-image: url("../img/2.png");
    background-size: 320px 381px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;
    background-origin: padding-box;
}
.text {
    width: 815px;
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0 auto;
    margin-bottom: 30px;
}
.footer {
    width: 1280px;
    margin: 21px auto 0 auto;
    display: flex;
    background-color: #b4b7ba;
    justify-content: space-between;
}
.footerMenu {
    display: flex;
}
.footerMenu ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin:0;
    padding: 0;
    width: 809px;
    padding: 15px 0px 15px 44px;
}
.footerMenu a {
    display: inline-block;
    font-size: 1.16rem;
    color: black;
    text-decoration: none;
}
.footerMenu a:hover {
    transition: all 0.5s;
    text-decoration: underline;
    color: #3181a6;
}
.copyright {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 15px 34px 15px 0;
}
