:root{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
body{
    margin:0 auto;
    background-image: url(../img/background_1X.png) ;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    color: white;
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-top: 2.45rem;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 2.25rem;
    width: 77.5%;
}
.logo{
    display:flex;
    position: relative;
}
.logoHeader{
    text-transform: uppercase;
    font-weight: bold;
    margin-left: .75rem;
}
.logoHeader div:nth-child(1){
    font-size: .9rem;
}
.logoHeader div:nth-child(2){
    font-size: .65rem;
    position: absolute;
    bottom: 3%;
}
.contacts{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: .75rem;
    text-align: right;
    line-height: .5rem;
}
.tel{
    font-size: .65rem;
}
.logo::before{
content: url(../img/logo@1X.png);
}
.logo:hover{
    color: #F26522;
}
.logo:hover::before{
    content: url(../img/orlogo@1X.png);
}
.contacts:hover a{
    color: #F26522;
}
.container{
    width: 77.5%;
    margin: 0 auto;
}
/*.container >div{}
    float: left;
}*/
.card{
    display:flex;
    flex-direction: column;
    margin-bottom: 55px;
    width: 307px;
}
.cardImage{
    position: relative;
    border: 2px solid;
    border-image: linear-gradient(to top, black, white) 20;
    box-shadow: 0 18px 18px 0 black;
    box-sizing: border-box;
    height:200px;
    width: 307px;

}
.cost{
    font-size: .9rem;
    color: white;
}
.cost :last-child{
    font-size: 1.2rem;
}
.card > a{
    
    margin-top: 20px;
    text-align: center;
    font-size: .75rem;
}
.info{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #f26522;
    height: 0;
    position: absolute;
    bottom: 43px;
    width: 307px;
    box-sizing: border-box;
    overflow: hidden;
}
    
.info a{
    display: block;
    padding-top: 24px;
}
.card:hover >a{
color:#F26522;
}
.cardImage:hover .info{
    position:absolute;
    bottom: -5px;
    overflow: visible;
    height: 63px;
    transition: all 0.3s;
}
.container >div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer{
    text-align: center;
    margin:0 auto 20px;
    font-size: .5rem;
    color: white;
}
